
html {
    scroll-behavior: smooth;
    background-color: #F0F1F4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Overpass Mono", monospace;
    font-optical-sizing: auto;
    letter-spacing: 4px;
    
}


body {
    color: #2B2A2A;
    max-width: 1800px;
    margin-inline: auto;
}

.grid-container-all {
    max-width: 1800px;
    margin-inline: auto;
    display: grid;
    grid-template-columns: 1fr;    
    align-items: center;
    outline: 0.5px solid #2B2A2A;
}   


/* nav-bar */

.nav {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
}

.nav-bar {
    display: grid;
    grid-template-columns: 2fr 2fr;
}


.nav-links {
    display: grid;
    background-color: #fff;

}   

.nav-links a {
    transition: all 0.3s ease 0s;
    text-decoration: none;
    color: #2B2A2A;
    outline: 0.5px solid #2B2A2A;
    padding: 1rem;
}

.nav-links a:hover {
    color: #000;
}


.nav-links-2 a {
    display: grid;
    background-color: #2B2A2A;
    outline: 0.2px solid #2B2A2A;
    text-align: end;
    text-decoration: none;
    padding: 1rem;
    color: #F0F1F4;
}

.nav-links-2 a:hover {
    color: #fff;
}




    .grid-container {
        display: grid;
        outline: 0.5px solid #2B2A2A;
        grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    }

   

    .grid-title {
        outline: 0.5px solid #2B2A2A;
        font-size: 5rem;
        text-align: start;
        padding: 0 0 0 2rem;
    }


    .grid-container-logo {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));    
        align-items: center;
        outline: 0.5px solid #2B2A2A;
        padding: 8rem;

    }

    .grid-container-logo-2 {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));    
        align-items: center;
    }  


    .logo-text {
        font-size: 2rem;
        text-align: start;
    }


    .container-logo {
        display: flex;
        align-items: end;
    }


    .grid-container-contact {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));    
        align-items: center;
    }


        .container-contact {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));    
            outline: 0.2px solid #2B2A2A;
            padding: 1rem 2rem 1rem 2rem;
        }

            .content-contact {
                display: flex;
                justify-content: space-between;
            }



    .grid-container-icons {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        outline: 0.5px solid #F0F1F4;
    }

        .container-icons {
            background-color: #2B2A2A;
            outline: 0.5px solid #F0F1F4;
            text-align: center;
            color: #fff;
        }

            .content-icons {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                outline: 0.5px solid #F0F1F4;

                text-align: center;
            }

            .content-icons a:hover {
                background-color: #999999;
                color: #2B2A2A;
            }



.square {
    width: 3vh;
    height: 1vh;
    outline: 0.5px solid #2B2A2A;
    padding: 1rem 0;
    background-color: #2B2A2A;
}


.content-title {
    text-align: center;
    padding: 20rem 0 10rem 0;
    font-size: 2rem;
}

.content-location {
    text-align: center;
}


.content-title-renders {
    text-align: center;
    padding: 20rem 0 1rem 0;
    font-size: 2rem;
}

.content-subtitle-renders {
    text-align: center;
    padding: 1rem 0 10rem 0;
}





.grid-space {
    height: 6rem;
    outline: 0.5px solid #2B2A2A;
}


.grid-space-medium {
    height: 12rem;
    outline: 0.5px solid #2B2A2A;
}

.grid-space-small {
    height: 3rem;
    outline: 0.5px solid #2B2A2A;
}







/* projects */


.grid-container-photos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    align-items: center;
    cursor: pointer;
}

.grid-container-text {
    display: grid;
    grid-template-columns: 1fr;
    outline: 0.5px solid #2B2A2A;
    padding: 0.5rem 1rem 0.5rem 1rem;
}

    .grid-container-text-medium {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
        outline: 0.5px solid #2B2A2A;
        font-size: 1.5rem;
        padding: 1rem;
    }

    .grid-container-text-big {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
        outline: 0.5px solid #2B2A2A;
        font-size: 3rem;
        padding: 1rem;
    }

    


    .img {
        width: 100%;
        height: 100%;  
        position: relative;
        filter: grayscale();
        outline: 0.5px solid #2B2A2A;
    }

        .img:hover {
            width: 100%;
            height: 100%;        
            filter: brightness();
            transition: 0.5s ease-out;
        }

    .img-0 {
        width: 100%;
        height: 100%;  
        position: relative;
        outline: 0.5px solid #2B2A2A;
    }




.grid-container-projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));    
    align-items: center;
    outline: 0.5px solid #2B2A2A;
}   

    .projects-title {
        font-size: 2rem;
        text-align: center;
        color: #F0F1F4;
        padding: 10rem 0 1rem 0;
    }
    

        .projects-title p {
            background-color: #fff;
            color: #2B2A2A;
            margin: 1rem;

        }

    .projects-subtitle {
        text-align: center;
        padding: 1rem 0 10rem 0;
        color: #F0F1F4;
    }

        .projects-subtitle p {
            background-color: #fff;
            color: #2B2A2A;
            margin: 1rem;
        }


    .services-title {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
        outline: 0.5px solid #2B2A2A;
        font-size: 3rem;
        padding: 1rem;
    }

    .services-subtitle {
        display: grid;
        outline: 0.5px solid #2B2A2A;
        padding: 0.5rem 1rem 0.5rem 1rem;
    }


    .link {
        text-align: center;
        padding: 1rem 0 1rem 0;
        color: #2B2A2A;

    }


    .link-end {
        text-align: end;
    }







/* footer */

.footer {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    outline: 0.5px solid #2B2A2A;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 4rem;
    align-items: center;
}

    .footer-legal {
        display: flex;
        justify-content: space-between;
    }

        .footer-legal p {
            background-color: #2B2A2A;
        }

        .footer a {
            color: #F0F1F4;
        }

    .footer-external {
        display: flex;
        align-items: center;
        gap: 1rem;
        background-color: #fff;
    }

        .footer-external a {
            color: #2B2A2A;
        }







/* scroll-btn */

.scroll-btn {
    position: fixed;
    width: 50px;
    height: 50px;
    outline: 0.5px solid #2B2A2A;
    bottom: 50px;
    right: 50px;
    
    text-decoration: none;
    text-align: center;
    line-height: 50px;
}

.scroll-btn:hover {
    background-color: #fff;
}




/* selection */

::selection {
    background: #fff;
}






/* pages */

.grid-container-pages {
    outline: 0.5px solid #2B2A2A;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));    
} 

/* save only html version */

    .grid-pages img {
        pointer-events: none;
    }



 .legal-page {
    color: #2B2A2A;

 }




/* community */ 

.community {
    text-align: center;
    background-color: #2B2A2A;
    color: #F0F1F4;
    margin: 20rem;
}







/* mobile */

@media (max-width: 900px) {

    body { 
        max-width: 900px;
        min-width: 900px;
        font-size: 18px;
        background-color: #F0F1F4;
    }


    .nav-bar {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

            .content-contact {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
            }

            .content-contact p {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
            }



    .grid-container-projects {
        display: grid;
        grid-template-columns: 1fr;    
        align-items: center;
        outline: 0.5px solid #2B2A2A;
    }   


   
        .projects-title {
            font-size: 2rem;
            text-align: center;
            color: #F0F1F4;
            padding: 4rem 0 1rem 0;
        }

.grid-container-all {
    max-width: 900px;
    min-width: 900px;
    margin-inline: auto;
    display: grid;
    grid-template-columns: 1fr;    
    align-items: center;
    outline: 0.5px solid #2B2A2A;
}   

.grid-title {
    font-size: 3rem;
}


    .footer {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 1rem;
        outline: 0.5px solid #2B2A2A;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
        gap: 1rem;
        align-items: center;
    }

    .footer-legal {
        display: flex;
        justify-content: space-between;
        gap: 4rem;
    }

}


